<html lang="en-ca">
  <head>
    <meta charset = "utf-8">
    <title> How to Learn Literally Any Language</title>
    <link rel="icon" href="../water.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../fonts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">   
  </head> 

  <body>
    
    <hr>
    <a href="../index" class="menu">home</a></li> 
    <div class="article-meta">
      <h1>
        <span class="title">Post Template</span>
      </h1>
      <h2 class = "date"> month/day/year </h2>
    </div>
    <p> write something here! </p>
    
    <footer>
    <hr>
    <a href="https://github.com/1stub">github</a> 
    <a href = "mailto:ajar231@uky.edu">email</a>
    <a href = "cv.pdf">cv</a>

    </footer>  
  </body>
</html>